/***************/
/* FORM        */
/***************/

input::-webkit-input-placeholder {
    color: #BEC2C1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
}
input::-moz-input-placeholder {
    color: #BEC2C1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
}
input::-o-input-placeholder {
    color: #BEC2C1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
}
input::-ms-input-placeholder {
    color: #BEC2C1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
}

.input-group {
    margin: 0 0 2.0rem 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.input-field {
    width: 100%;
    margin: 0;
    padding: 2.0rem 2.0rem 2.0rem 6.0rem;
    vertical-align: middle;
    text-align: left;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    background-color: transparent;
    color: #5D6765;
    border: 0;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075), 0 0 8px rgba(45, 68, 79, 0.5);
    -moz-box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075), 0 0 8px rgba(45, 68, 79, 0.5);
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075), 0 0 8px rgba(45, 68, 79, 0.5);
    */
}

.input-group-circular {
    overflow: hidden;
    border-radius: 4.0rem;
    -webkit-border-radius: 4.0rem;
    -moz-border-radius: 4.0rem;
    background-color: #0CAB9C;
    border: 0.1rem solid #0CAB9C;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.input-group-circular .input-overlay {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.0rem;
    background-color: transparent;
    color: #EBF8F7;
    border-radius: 4.0rem;
    -webkit-border-radius: 4.0rem;
    -moz-border-radius: 4.0rem;
    z-index: 100;
    vertical-align: middle;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
    transition: transform 0.25s, opacity 0.25s;
}

.input-group-circular:hover {
    color: #EBF8F7;
    background-color: #0A9185;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.input-group-circular .input-field-circular {
    border-radius: 4.0rem;
    -webkit-border-radius: 4.0rem;
    -moz-border-radius: 4.0rem;
}

/* initial icion styles */
.input-group-circular .input-icon-left {
    position: absolute;
    color: #0CAB9C;
    font-size: 2.4rem;
    padding: 1.8rem;
    top: 0;
    left: 0;
    z-index: 100;
}

.input-group-circular .input-icon-right {
    position: absolute;
    color: #BEC2C1;
    font-size: 2.4rem;
    padding: 1.8rem;
    top: 0;
    right: 0;
    z-index: 100;
}

.input-group-circular .input-icon-action {
    color: #BEC2C1;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

/* disable hover effect on background color when input is active */
.input-group-circular.input-filled {
    background-color: #ffffff;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.input-group-circular.input-filled:hover {
    background-color: #ffffff;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

/* offset position to the left and make invisible */
.input-group-circular .input-icon-left,
.input-group-circular .input-icon-action,
.input-group-circular .input-field-circular {
    opacity: 0;
    visibility: hidden;
    -webkit-transform:  translate3d(-4.0rem, 0, 0);
    transform:          translate3d(-4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

/* reset to original position and fade in */
.input-group-circular.input-filled .input-icon-left,
.input-group-circular.input-filled .input-icon-action,
.input-group-circular.input-filled .input-field-circular,
.input-group-circular.input .input-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition: transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

/* slide overlay content to the right and fade out */
.input-group-circular.input-filled .input-overlay {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(4.0rem, 0, 0);
    transform: translate3d(4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s;
    transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
}


/* icon styles for form validation states */

/* change color of action icon when valid */
.input-group-circular.valid .input-icon-action {
    color: #5D6765;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

.input-group-circular.valid .input-icon-action:hover,
.input-group-circular.valid .input-icon-action:focus {
    color: #464D4C;
    outline: 0;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

/* hide action icon when submitted */
.input-group-circular.submitted .input-icon-action {
    opacity: 0;
    visibility: hidden;
    -webkit-transform:  translate3d(4.0rem, 0, 0);
    transform:          translate3d(4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

/* hide input field when submitted */
.input-group-circular.submitted .input-field-circular {
    opacity: 0 !important;
    /*visibility: hidden !important;*/
    -webkit-transform:  translate3d(4.0rem, 0, 0);
    transform:          translate3d(4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

.input-group-circular.submitted {
    background-color: #0CAB9C;
    border: 0.1rem solid #0CAB9C;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.input-group-circular.submitted:hover {
    color: #0CAB9C;
    background-color: #0CAB9C;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

/* show confirmation message after form is submitted */
.input-group-circular .input-confirmation-message {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2.0rem 2.0rem 2.0rem 6.0rem;
    vertical-align: middle;
    text-align: left;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    color: #EBF8F7;
    border: 0;
    overflow: hidden;
    border-radius: 4.0rem;
    -webkit-border-radius: 4.0rem;
    -moz-border-radius: 4.0rem;
    background-color: transparent;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
    z-index: 100;
    -webkit-transform:  translate3d(-4.0rem, 0, 0);
    transform:          translate3d(-4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

.input-group-circular.submitted .input-confirmation-message {
    opacity: 1;
    visibility: visible;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:          translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}

/* initial state for submitted icon */
.input-group-circular .input-icon-submitted {
    position: absolute;
    color: #EBF8F7;
    opacity: 0;
    visibility: hidden;
    -webkit-transform:  translate3d(-4.0rem, 0, 0);
    transform:          translate3d(-4.0rem, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;

    font-size: 2.4rem;
    padding: 1.8rem;
    top: 0;
    left: 0;
    z-index: 100;
}

/* show submitted icon when submitted */
.input-group-circular.submitted .input-icon-submitted {
    opacity: 1;
    visibility: visible;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:          translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
    transition:         transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}


/*FORM VALIDATION*/

#error-message {
    display: none;
    font-weight: 600;
    color: #E31B23;
}
input.error,
select.error {
    /*background-color: #EFD2D5;*/
    border: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition:    all 0.25s linear;
    -ms-transition:     all 0.25s linear;
    -o-transition:      all 0.25s linear;
    transition:         all 0.25s linear;
}
input.valid,
select.valid {
    /*background-color: #e6f9ee;*/
    border: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition:    all 0.25s linear;
    -ms-transition:     all 0.25s linear;
    -o-transition:      all 0.25s linear;
    transition:         all 0.25s linear;
}
